* {
    margin: 0;
    padding: 0;
}

::selection {
    color:#7a26c4;
    background:#110720;
}

html, css {
    height: max-content;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(11,6,45,1) 100%);
    color: #898989;
    font-family: 'Nunito', sans-serif;
}

h1 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
}


h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}


.perfil {
    text-align: center;
    margin-top: 23px;
    margin-bottom: 57px;
}

.perfil img {
    width: 135px;
    border-radius: 50%;
    border-style:solid;
    border-color: #1e0230;
    border-width: 2px;
    box-shadow: 0 0 30px #1e0230;
}

.links-list {
    margin: 25px 15px;
    list-style: none;
}

.links-list li {
    margin-bottom: 20px;
}

.links-list li a {
    text-decoration: none;
    background: #110720;
    padding: 10px 20px;
    display: block;
    border-radius: 10px;
    color: #4d2670;
}


.links-list li a span {
    color: #898989;
    display: block;
    margin-top: 10px;
}

h1:hover {
    padding-left: 40px;
    padding-right: 40px;
    color:#4d2670;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #1e0230;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 500ms;
} 

h2:hover {
    padding-left: 20px;
    padding-right: 20px;
    color:#110720;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #25131c;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 500ms;
}

.links-list li a:hover {
    background-color:#090116;
    color:#7a26c4;
    transition-duration: 500ms;
}

.links-list li a span:hover {
    color: #af7483;
    transition-duration: 500ms;
}
